<form asp-controller="Post" asp-action="NewPost" method="POST" class="p-1 m-1">
	<textarea id="Text" name="Text" required placeholder="Whats on your mind?" class="" style="resize: none; height: 8em; width: 100%;"></textarea>
	<input type="submit" class="btn" value="Post" style="width: 100%"/>
</form>
