<section class="post-form">
	<form asp-controller="Post" asp-action="NewPost" method="POST">
		<textarea id="Text" name="Text" required placeholder="Whats on your mind?" class="mt-1 pr-3 container-fluid" style="resize: none; height: 8em;"></textarea>
		<input type="submit" class="btn container-fluid" value="Post"/>
	</form>
</section>
