@model NewPostViewModel

<section class="post-form">
	<form asp-action="NewPost" asp-controller="Post" method="POST">
		<textarea asp-for="Text" id="new-post-text" placeholder="Whats on your mind?" class="mt-1 pr-3 container-fluid" style="resize: none; height:8em;"></textarea>
		<input type="submit" class="btn container-fluid" value="Post" style="background-color:#7b2cab; border-color:#7b2cab; color:white;"/>
	</form>
</section>
