@model Fakebook.Web.ViewModels.HomeViewModel

<div class="container-fluid">
	<div class="row">
		<aside class="col-md-4">
			<div class="position-fixed">
			@await Html.PartialAsync("_NewPostPartial", new NewPostViewModel())
			</div>
		</aside>
		@await Html.PartialAsync("_InfiniteScrollPartial")
	</div>
</div>