@model Fakebook.Web.Models.ViewModels.HomeViewModel
<div class="row">
	<div class="col-md-5">
		<partial name="_NewPostPartial" />
	</div>
	<div id="posts" class="col-md-7" />
</div>
@section Scripts
{
	<script type="text/javascript" data-user_id="@Model.CurrentUserId" data-url="Home" src ="~/js/postscroll.js"></script>
	<script type="text/javascript" src="~/js/like.js"></script>
}