@model Fakebook.Web.ViewModels.ProfileViewModel

<div class="col-md-5">
	<div class="sticky-top" style="padding-top:4rem; z-index:0;">
		@if (Model.Friendship == null)
		{
			<a asp-controller="Friends" asp-Action="AddFriend" asp-route-userPublicId="@Model.ProfileUser.PublicId" class="btn container-fluid" style="background-color:#7b2cab; border-color:#7b2cab; color:white;">Add Friend</a>
		}
		else if (Model.Friendship.Status == Fakebook.Core.Entities.Status.Pending)
		{
			<a asp-controller="Friends" asp-Action="RemoveFriend" asp-route-userPublicId="@Model.ProfileUser.PublicId" class="btn container-fluid" style="background-color:#7b2cab; border-color:#7b2cab; color:white;">Cancel Friend Request</a>
		}
		else if (Model.Friendship.Status == Fakebook.Core.Entities.Status.Accepted)
		{
			<a asp-controller="Friends" asp-Action="RemoveFriend" asp-route-userPublicId="@Model.ProfileUser.PublicId" class="btn container-fluid" style="background-color:#7b2cab; border-color:#7b2cab; color:white;">Remove Friend</a>
		}
	</div>
</div>
<div id="posts" class="col-md-7" style="padding-top:4rem" />

@section Scripts
{
	<script src ="~/js/postscroll.js" language="javascript"></script>
}