@model Fakebook.Web.ViewModels.ProfileViewModel

<div class="container-fluid">
	<div class="row">
		<aside class="col-md-4">

		</aside>

		@await Html.PartialAsync("_InfinitePostScrollPartial")
	</div>
</div>
