@model Fakebook.Web.ViewModels.ProfileViewModel

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			@foreach (var p in Model.Posts)
			{
				<div class="card card-outline-primary m-1 p-1">
					<div class="card-text p-1">@p.User.FirstName @p.User.LastName</div>
					<div class="bg-faded p-1">
						<h4>
							@p.Text
							<span class="badge badge-pill badge-primary" style="float:right">
								<small>@p.DatePosted</small>
							</span>
						</h4>
					</div>
				</div>
			}
		</div>
	</div>
</div>
