html {
	background-color: #F0F2F5;
}
body {
	background-color: transparent;
	padding-left: 18%;
	padding-right: 18%;
}
@media only screen and (max-width: 800px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
}
.header {
	margin: 0;
	padding: 2.1rem;
	float: left;
	width: 100%;
	line-height: 1;
}

/* The sidebar menu */
#friends_bar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 0;
	transition: 1s all;
	overflow-x: hidden;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.friends-bar-opened {
	width: 15%;
}
@media screen and (max-width: 768px) {
	.friends-bar-opened {
		width: 80%;
	}
}
.friends-bar-closed {
	width: 0%;
}
.friends-btn {
	display: inline-block;
	position: relative;
}
#requests_num {
	display: none;
	position: absolute;
	bottom: -1px;
	right: -5px;
	padding: 5px 8px;
	border-radius: 50%;
	background: red;
	color: white;
}
.post .btn:hover,
#commentSubmitBtn:hover {
background-color: #F2F2F2;
}

.post .btn,
#commentSubmitBtn {
	background-color: transparent;
	border-color: none !important;
  	outline: 0;
  	outline: none !important;
 	/* IE6-9 */
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: transparent !important;
}

.btn:not(.post .btn){
	color: white !important;
}

.btn:not(.active, .focus, .post .btn) {
	background-color: #7b2cab; 
	border-color: #7b2cab; 
}

.btn:focus:not(.nav-link):not(.text-muted):not(#commentSubmitBtn):not(#profileEditBtn), .btn:active:not(.nav-link):not(.text-muted):not(#commentSubmitBtn):not(#profileEditBtn), .active {
  background-color: #5e1f83 !important;
}

.profilebadge {
	background-color: #7b2cab;
	color: white;
	height: 2em;
	position: relative; 
	display: flex; 
	justify-content: left;
	align-items: center;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="radio"]:focus,
.form-control:focus:not(.post .btn):not(.checkbox-custom),
.btn:focus:not(.post .btn):not(.checkbox-custom),
.btn:active:not(.post .btn):not(.checkbox-custom),
.btn:active:focus:not(.post .btn):not(.checkbox-custom),
.btn.focus:not(.post .btn):not(.checkbox-custom),
.uneditable-input:focus:not(.post .btn){
  border-color: #7b2cab !important;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px #7b2cab, 0 0 8px #7b2cab !important;
  -moz-box-shadow: inset 0 1px 1px #7b2cab, 0 0 8px #7b2cab !important;
  box-shadow: inset 0 1px 1px #7b2cab, 0 0 8px #7b2cab !important;
}

.checkbox-custom:active,
.checkbox-custom:focus,
.checkbox-custom:focus:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}

.post-text {
	font-size: 1.1rem;
	white-space:pre-wrap;
}
.post-author {
	font-size: 1.2rem;
}

.post-date {
	font-size: .8rem;
}

.comment-text {
	font-size: .9rem;
	white-space:pre-wrap;
}

.comment-date {
	font-size: .6rem;
}

#profileEditBtn {
	background-color: transparent !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#commentTextForm {
	height: 46px;
	overflow: hidden;
	margin:0px 0px;
	padding:15px;
	line-height:16px;
	display:block;
}

#postTextForm {
	height: 8em;
	min-height: 8em;
	overflow: hidden;
	padding: 8px;
}
.comment-like-btn,
.comment-btn,
.comment-likes,
.reply-btn {
	color: inherit;
	font-size: .8rem;
	display: inline-block;
}