html {
	background-color: #F0F2F5;
}
body {
	background-color: transparent;
	padding-left: 18%;
	padding-right: 18%;
}
@media only screen and (max-width: 768px) {
	body {
		margin-left: 0;
		margin-right: 0;
	}
}
.header {
	margin: 0;
	padding: 2.1rem;
	float: left;
	width: 100%;
	line-height: 1;
}

/* The sidebar menu */
#friends_bar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 0;
	transition: 1s all;
	overflow-x: hidden;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.friends-bar-opened {
	width: 15%;
}
@media screen and (max-width: 768px) {
	.friends-bar-opened {
		width: 80%;
	}
}
.friends-bar-closed {
	width: 0%;
}
.friends-btn {
	display: inline-block;
	position: relative;
}
#requests_num {
	display: none;
	position: absolute;
	bottom: -1px;
	right: -5px;
	padding: 5px 8px;
	border-radius: 50%;
	background: red;
	color: white;
}
.post .btn:hover {
background-color: #F2F2F2;
}

.btn:not(.active label):not(.text-muted){
	background-color: #7b2cab; 
	border-color: #7b2cab; 
	color: white;
}

.active
{
	background-color: #5e1f83 !important;
}
.profilebadge
{
	background-color: #7b2cab;
	color: white;
	height: 2em;
	position: relative; 
	display: flex; 
	justify-content: left;
	align-items: center;
}
