<li class="nav-item friends-btn" onclick="toggleFriends()" style="text-align: right">
	<input class="friends-button nav-link" type="image" src="~/images/friends.svg" align="right"/>
	<span class="badge" id="requests_num"></span>
</li>
