<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content ="width=device-width" />
	<title>Fakebook</title>
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-dark" style="background-color:purple">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Fakebook</a>
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Profile</a>
	</nav>
	<div class="row m-1 p-1">
		@RenderBody()
	</div>
</body>
</html>