@using Microsoft.AspNetCore.Identity
@using Fakebook.Infrastructure.Identity
@using System.Web
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content ="width=device-width" />
	<title>Fakebook</title>
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top flex-md-nowrap" style="background-color:#7b2cab; justify-content: center;">
		<a class="navbar-brand" href="/">Fakebook</a>
		@if (SignInManager.IsSignedIn(User)) {
			<ul class="navbar-nav mr-auto" style="flex-direction: row; display: block; height: 40px;">
				<li id="friendsBtn" class="nav-item friends-btn">
					<input class="friends-button nav-link btn p-0" align="right" type="image" src="~/images/friends.svg" style="height: 40px;"/>
				</li>
			</ul>
		}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav ml-auto" style="height: 40px;">
				<li class="nav-item">
					<form asp-controller="Users" asp-action="Index" style="height: 40px;">
						<input type="text" id="searchString" name="searchString" placeholder="Search Users" style="resize: none; height: 75%; margin-top: 5px;"></input>
						<input type="submit" style="display: none" />
					</form>
				</li>
				<partial name="_LoginPartial.cshtml" />
			</ul>
		</div>
	</nav>
	<div style="padding-top: 4rem">
		@if (SignInManager.IsSignedIn(User)) {
			<nav id="friends_bar" class="friends-bar-closed container bg-light">
				<div id="friends" class="sidebar-sticky col" style="padding:0px;"/>
			</nav>
		}
		@RenderBody()
	</div>
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.min.js" language="javascript"></script>
	@RenderSection("Scripts", required: false)
	@if (SignInManager.IsSignedIn(User)) {
		<script src="~/js/friends.js" language="javascript"></script>
	}
</body>
</html>