<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content ="width=device-width" />
	<title>Fakebook</title>
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:purple">
		<a class="navbar-brand" href="/">Fakebook</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link text-light" href="/">Profile</a>
			</li>
			<partial name="_LoginPartial.cshtml" />
		</ul>
	</nav>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	@RenderSection("Scripts", required: false)
</body>
</html>