@using Microsoft.AspNetCore.Identity
@using Fakebook.Infrastructure.Identity
@using System.Web
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content ="width=device-width" />
	<title>Fakebook</title>
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/popper.js/umd/popper.min.js"></script>
	<link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
	<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
	<script src="~/lib/marked/marked.min.js" type="text/javascript"></script>
	<script src="~/lib/dompurify/purify.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top flex-md-nowrap" style="background-color:#7b2cab; justify-content: center;">
		<a class="navbar-brand" href="/">Fakebook</a>
		@if (SignInManager.IsSignedIn(User)) {
			<ul class="navbar-nav mr-auto" style="flex-direction: row; height: 40px;">
				<li id="friendsBtn" class="nav-item friends-btn">
					<input class="friends-button nav-link btn p-0" align="right" type="image" src="~/images/friends.svg" style="height: 40px;"/>
				</li>
				@if (SignInManager.IsSignedIn(User)) {
					<li class="nav-item pl-4">
						<form asp-controller="UserSearch" asp-action="Index" style="height: 40px;" method="get">
								<input type="text" id="q" name="q" placeholder="Search Users" style="resize: none; height: 75%; margin-top: 5px;" />
								<input id="page" name="page" type="hidden" value="1"></input>
							<input type="submit" style="display: none" />
						</form>
					</li>
				}
			</ul>
		}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav ml-auto" style="height: 40px;">
				<partial name="_LoginPartial.cshtml" />
			</ul>
		</div>
	</nav>
	<div style="padding-top: 4rem">
		@if (SignInManager.IsSignedIn(User)) {
			<nav id="friends_bar" class="friends-bar-closed container bg-light">
				<div id="friends" class="sidebar-sticky col" style="padding:0px;"></div>
			</nav>
		}
		@RenderBody()
	</div>
	@RenderSection("Scripts", required: false)
	@if (SignInManager.IsSignedIn(User)) {
		<script src="~/js/friends.js" ></script>
	}
</body>
@if (SignInManager.IsSignedIn(User)) {
	<div class="modal fade" id="postPreviewModal" tabindex="-1" role="form" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body" id="markdownOutput">
				</div>
				<div class="modal-footer">
					<p style="font-size: 12px">Posts use markdown formatting. For more information, visit: <a href="https://en.wikipedia.org/wiki/Markdown">https://en.wikipedia.org/wiki/Markdown</a></p>
					<button type="button" class="btn editformclose" style="display:absolute" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		document.getElementById('commentTextForm').addEventListener('input', function () {
				document.getElementById('markdownOutput').innerHTML = marked.parse(this.value);
		});
	</script>
}
</html>