@using Microsoft.AspNetCore.Identity
@using Fakebook.Infrastructure.Identity
@using Fakebook.Core.Interfaces

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService UserService

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a href="/Profile" class="nav-link btn" style="color: white">@UserService.GetByIdAsync(UserManager.GetUserAsync(User).Result.Id).Result.FirstName</a>
    </li>
	<li class="nav-item">
		<form id="optionsForm" asp-area="Identity" asp-page="/Account/Manage/Index">
			<input class="options-button nav-link btn p-0 ml-1 mr-1" title="Manage" type="image" src="~/images/options.svg" style="height: 40px;"/>
		</form>
	</li>
    <li class="nav-item" style="height: 40px">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" style="height: 40px">
            <button id="logout" type="submit" class="nav-link btn btn-link text-light" style="height: 40px">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register" style="color: white">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login" style="color: white">Login</a>
    </li>
}

