<button class="btn" id="messengerBtn" style="position:fixed; right:.3rem; bottom:.3rem;">
	Messenger
</button>

<div id="messengerWindow" class="container-sm card p-0 border-left border-top" style="position:fixed; right:0px; bottom:0px; height:34rem; display:none;">
	<button class="btn" id="messengerCloseBtn" style="">
		Messenger
	</button>
	<div class="row m-0" style="width:inherit; height:100%;">
		<div class="col m-0 p-0 border-right" style="width:60%;">
			<div id="chatArea" class="row" style="height:90%;">
				<ul id="messages">
				</ul>
			</div>
			<textarea class="row pl-1 pr-1 pt-0 m-0" style="height:10%; width:100%; resize:none;" placeholder="Type a message"></textarea>
		</div>
		<div class="col m-0 p-0" style="width:40%;">
			<ul id="messengerList" class="p-0 m-0">
			</ul>
		</div>
	</div>
</div>