@using Fakebook.Core.Entities
@model List<Friendship>

@foreach (Friendship friend in Model) 
{
	@if (friend.Status == Status.Accepted)
	{
		<a data-toggle="list" id='@friend.Friend.Id' class="messenger-friend list-group-item list-group-item-action" href="#chat-@friend.Friend.Id" style="width:100%; text-decoration: none;" role="tab" aria-controls="chat-@friend.Friend.Id" aria-selected="false">
			<div class="" style="text-decoration: none;">
				<img src="data:image/png;base64,@Convert.ToBase64String(friend.Friend.ProfilePicture)" width="40" height="40" style="display: inline-block;" class="ml-1 mr-1"/>
				<p style="display: inline-block; text-decoration: none; color:#000000;" id="name-@friend.Friend.Id" class="messenger-friend-name">@friend.Friend.FirstName @friend.Friend.LastName</p>
			</div>
		</a>
	}
}
 