<div style="z-index: 0;">
	<div class="sticky-top" style="top: 4rem">
		<div class="card card-outline-primary m-1 p-1" id="postForm">
			<form asp-controller="Post" asp-action="NewPost" method="POST">
				<textarea id="postTextForm" name="Text" required placeholder="Whats on your mind?"
				style="resize: none; height: 8em; width: 100%;"></textarea>
				<input type="submit" class="btn text-muted" value="Post" style="width: 100%" />
			</form>
			<button class="markdown-preview-btn btn text-muted m-0 pt-1 pb-1 pl-2 pr-2" data-toggle="modal" data-target="#postPreviewModal">Preview</button>
		</div>
	</div>
</div>