@model List<Notification>
@using Fakebook.Core.Entities
<script src ="~/lib/jquery/jquery.min.js" ></script>
<li class="nav-item dropdown" style="text-align: right">
	<input class="notifications-button nav-link dropdown-toggle" type="image" src="~/images/notifications.svg" align="right" />
	
	<div class="notifications dropdown-menu" style="border: 5px solid red">
		@foreach(Notification notification in Model)
		{
		}
	</div>
</li>
<script>
	$(document).ready(function(){
		$(".notifications-button").click(function(){
			$(".notifications").slideToggle();
		});
	});
</script>